@use "../node_modules/bootstrap/scss/bootstrap-reboot.scss" as reboot;

body {
  margin: 1em auto;
  max-width: 600px;
  width: 90%;
}

a:hover, a:focus {
  color: reboot.$link-color;
  animation-name: pulsefont;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 3s;
}

/* header */

h1 {
  font-size: 3em;
}

/* Log */

.loading {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.5em 0;
}

.time {
  margin: 0 0.5em;
  font-size: 0.5em;
}

@keyframes pulsefont {
  to {
    color: darkorchid;
  }
}
